body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
}

#top {
   height: 0px;
}

header {
   margin-left: 20px;
}

#navMain {
   display: flex;
   flex-flow: row wrap;
   background-color: #C5A249;
   padding: 5px 5px 10px 10px;
}

#navMain > a {
   color: mediumBlue;
   margin: 5px 5px 0px 0px;
   padding: 5px;
   text-decoration: none;
}

#navMain > a:hover {
   color: black;
}

#navMain > a.selected {
   color: black;
   background-color: #FED777;
}

div.navPage {
   display: flex;
   flex-direction: column;
}

main {
	margin: 20px 20px 0px 20px;
   line-height: 1.5;
}

main a:link {
	color: mediumBlue;
	text-decoration:none;
}

main a:hover { text-decoration:underline; }

div.backToTop {
   text-align: right;
}